<ul class="nav nav-tabs">
    <li role="user"><a href="/profile">Profile</a></li>
    <li role="user" class="active"><a href="matches">Matches</a></li>
</ul>

<div class="row">
    {{#each summoners}}
        <div class="col-md-4">
            <img class="img-responsive" src="{{../iconUrl}}/{{#if iconId}}{{iconId}}{{else}}0{{/if}}.png" alt="{{summoner}}">
            <div class="carousel-caption">
              <p>{{summoner}}</p>
              <p>{{tier}} {{division}}</p>
            </div>
        </div>
    {{/each}}
</div>
