<ul class="nav nav-tabs">
    <li class="active"><a href="/profile">Profile</a></li>
    <li><a href="/matches">Matches</a></li>
</ul>

<h1>Welcome {{summoner}}</h1>

<h3>Summoner Name: {{summoner}}</h3>
<h3>Region: {{region}}</h3>
<h3>Average Ping: {{ping}}</h3>
<h3>Main Role: {{role}}</h3>
<h3>Main Champion: {{champion}}</h3>

<button type="button" class="btn btn-default">Edit Profile</button>
