<h1>Welcome {{username}}</h1>

<p>Summoner Name: {{username}}</p>
<p>Region: {{region}}</p>
<p>Average Ping: {{ping}}</p>
<p>Main Role: {{role}}</p>
<p>Main Champion: {{champion}}</p>

<button type="button" class="btn btn-default">Edit Profile</button>
