<h1>Please Enter the following Data</h1>
<form method="post">
    Region:<br>
    <select name="region" class="form-control">
      {{#each regions}}
        <option value="{{this}}">{{toUpperCase this}}</option>
      {{/each}}
    </select>
    <br>

    <div class="form-group">
        <label for="summoner">Summoner Name:</label>
        <input type="text" class="form-control" name="summoner" placeholder="Ex. xX420NOSCOPEXx">
    </div>
    Average Ping:<br>
    <select name="ping" class="form-control">
      {{#each pings}}
        <option value="{{name}}">{{range}}</option>
      {{/each}}
    </select>
    <br>

    Main Role:<br>
    <select name="role" class="form-control">
        {{#each roles}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <br>

    <div class="form-group">
        <label for="champion">Main Champion</label>
        <input type="text" class="form-control" name="champion" placeholder="Ex. Veigar">
    </div>
    <input type="hidden" name="_id" readonly value="{{_id}}">

    <button type="submit" class="btn btn-default">Submit</button>
</form>
